
html,
body {
  z-index: -2;
  background: rgb(119,119,119);
  background: linear-gradient(90deg, rgba(119,119,119,1) 0%, rgb(211, 211, 211) 35%, rgba(228,228,228,1) 100%);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.glass{
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  /* border-radius: 5px; */
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  z-index: 1;
  position: relative;
}

